#slider_wrap {
    display: flex;
    justify-content: center;
}

.car_img_wrap {
    display: flex;
    justify-content: center;
}

.car_img {
    height: 25vw;
    display: block;
}

.car_header {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin: 1vw;
}

.car_text_wrap {
    display: flex;
    justify-content: center;
}

.car_text {
    text-align: center;
    width: 55vw;
    margin-top: 0;
    font-size: 1.5vw;
}

#arrow_left {
    transform: scaleX(-1);
}

#arrow_left, #arrow_right {
    border-radius: 10px;
    height: 4vw;
}

#arrow_left:hover, #arrow_right:hover {
    animation-name: changeColorToGray;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes changeColorToGray {
    100% {
        background-color: gray;
        color: black;
    }
}

.arrow_wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
}

#slide2, #slide3 {
    display: none;
}